API_ID=123456
API_HASH=abcdef1234567890abcdef1234567890
SESSION_NAME=userbot
SOURCE_CHANNEL=@source_channel
SOURCE_MESSAGE_ID=
TARGETS_GROUP=@targets_group
TARGETS_MESSAGE_ID=
SEND_DELAY=1.0
INTERVAL_MIN=600
INTERVAL_MAX=1200
STATE_FILE=.state.json
